.App {
  text-align: center;
}

input {
  margin-bottom: 10px;
}

img {
  width:100%;
  border-radius: 15px 15px 0px 0px;
}

#cardH1{
  font-size: medium;
}

.card {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  color: white;
  width: 200px;
  height: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inline-block;
  margin: 5px;
}